/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
}

/* Commons */

.text-light-grey{
    color: var(--Dark-03, #727272);
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    cursor:pointer;
}

/* header styles --------------------------------------------*/

header{
    background: rgba(255, 144, 14, 0.10);
}

/* header > nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 228px 102px 228px;
}

nav .nav-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

nav ul{
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 45px;
}

nav ul li a{
    text-decoration: none;
}

/* Header > Headline */

.headline-content{
    margin: 0 auto;
    max-width: 862px;
    text-align: center;
}

.head-title{
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.headline p{
    line-height: 26px;
    margin-bottom: 32px;
}

.headline-image{
    text-align: center;
    /* margin:auto;
    width: 1440px;
    height: 700px; fixed props will
    not let you center the img when
    it comes to responsive media*/
}

.headline-image img{
    margin-bottom: 45px;
}

/* Main Section -------------------------------------------- */

main .feature-section, .facts-section, .sponsor-section{
    max-width: 1480px;
    margin: 0 auto;
}

/* Feature list */

.feature-section{
    /* border: 2px solid maroon; */
    margin-top: 85px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-collage img{
    Box-shadow: 5px 5px 4px rgb(179, 110, 19);
}

.feature-content{
    padding-left: 76px;
    padding-right: 40px;
}

.feature-title{
    font-size: 45px;
    font-weight: 500;
    line-height: normal;
}

#black{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

#orange{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.feature-text{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -14px;
    margin-bottom: 45px;
}

/* Enjoyable Feature Section ------------------------------- */

.enjoyable-feat-section{
    display: flex;
    margin-top: 130px;
    gap: 140px;
    justify-content: center;
    border: 2px solid crimson;
    margin-left: 340px;
    margin-right: 340px;
}

.enjoyable-feat-section .feature-content{
    padding-left: 0;
}

.feature-content .feature-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 7px solid #FF900E;
    padding-left: 21px;
}

.feature-content .header-text{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    /* width: 586px; */
}

.feature-content .box{
    /* border: 2px solid blueviolet; */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 42px 30px 32px;
    margin-bottom: 20px;
    /* width: 586px; */
}

.feature-content .box .title{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}

.feature-content .box .details{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: -23px;
}

.exp-card{
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    width: 342px;
    padding: 45px 5px;
    position: relative;
    bottom: 90px;
    right: 110px;
}

.exp-card h2{
    margin: 0;
    font-size: 65px;
    font-weight: 700;
}

.exp-card p{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
}

.enjoyable-feat-section .feature-image img{
    height: 90%;
}

/* Some Facts Section ---------------------------------------*/

.facts-section{
    margin-top: 130px;
    margin-bottom: 180px;
}

.facts-header{
    margin-bottom: 100px;
}

.facts-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.credential-cards .cards {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    width: 240px;
    height: 240px;
}

.cards .icon{
    margin-top: 45px;
}

.number{
    color: var(--Dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

.ach-text{
    font-size: 20px;
    font-weight: 600;
    margin-top: -40px;
}

.credential-cards{
    display: flex;
    justify-content: space-around;
}

/* Sponsor Section ------------------------------------------*/

.sponsor-header{
    text-align: center;
}

.sponsor-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* responsive media queries ---------------------------------*/

/* mobile*/

@media screen and (max-width:576px){

    .headline{
        padding: 25px;
    }

    nav{
        flex-direction: column;
        padding: 50px 100px 50px 100px;
    }

    .headline-image img{
        width: 100%;
    }

    .feature-section{
        display: flex;
        flex-direction: column;
    }

    .feature-collage{
        display: flex;
        flex-direction: column;
    }

    .feature-collage img{
        width: 100%;
        /* cursor: pointer; */
    }

    .feature-content{
        padding: 50px;
        text-align: justify;
    }

    .facts-section{
        margin-top: -160px;
    }

    .credential-cards{
        flex-direction: column;
        align-items: center;
        margin-top: -70px;
    }

    .facts-header{
        padding: 70px;
        text-align: justify;
    }

    .credential-cards .cards{
        margin-bottom: 40px;
    }

    .enjoyable-feat-section{
        flex-direction: column;
        margin: 150px 110px;
    }

    .enjoyable-feat-section .feature-title, .feature-text{
        width: 100%;
    }

    .enjoyable-feat-section .feature-image{
        width: 400px;
        height: 400px;
    }

    .sponsor-section {
        margin-top: -150px;
    }

    .sponsor-img-container{
        flex-direction: column;
        align-items: center;
    }

    .sponsor-img-container .sponsor-img{
        margin-bottom: 30px;
    }

    .sponsor-img img{
        width: 120px;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:992px){

    .headline{
        padding: 15px;
    }

    nav{
        flex-direction: column;
        padding: 50px 100px 40px 100px;
    }

    .headline-image img{
        width: 100%;
    }

    .headline-image{
        padding: 0 20px;
    }

    .feature-section{
        display: flex;
        flex-direction: column;
    }

    .feature-collage{
        padding: 35px;
        margin-bottom: -60px;
    }

    .feature-collage img{
        width: 100%;
        cursor: pointer;
    }

    .feature-content{
        padding: 75px;
        text-align: justify;
    }

    .facts-section{
        margin-top: -170px;
    }

    .credential-cards{
        flex-direction: column;
        align-items: center;
        margin-top: -70px;
    }

    .facts-header{
        padding: 80px;
        text-align: justify;
    }

    .credential-cards .cards{
        margin-bottom: 40px;
    }

    .sponsor-section {
        margin-top: -100px;
    }

    .sponsor-img-container{
        flex-direction: column;
        align-items: center;
    }

    .sponsor-img-container .sponsor-img{
        margin-bottom: 30px;
    }

    .sponsor-img img{
        width: 120px;
    }
}

/* laptop*/

@media screen and (min-width:992px) and (max-width:1455px){

    .headline{
        padding: 20px;
    }

    nav{
        padding: 50px 100px 20px 100px;
    }

    .headline-image img{
        width: 100%;
    }

    .headline-image{
        padding: 0 50px;
    }

    .feature-section{
        display: flex;
        flex-direction: column;
    }

    .feature-collage{
        padding: 45px;
        margin-bottom: -100px;
    }

    .feature-collage img{
        width: 100%;
        cursor: pointer;
    }

    .feature-content{
        padding: 130px;
        text-align: justify;
    }

    .facts-section{
        margin-top: -200px;
    }

    .facts-header{
        padding: 130px;
        text-align: justify;
    }

    .credential-cards .cards{
        margin-bottom: 80px;
    }

    .credential-cards{
        /* border: 2px solid fuchsia; */
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: space-evenly;
        margin-top: -80px;
        padding: 0 100px;
    }

    .sponsor-section {
        padding-left: 50px;
        margin-top: -80px;
    }

    .sponsor-img-container .sponsor-img{
        margin-bottom: 30px;
    }

    .sponsor-img img{
        width: 120px;
    }
}

/* Other customs */

@media screen and (min-width: 780px) and (max-width: 992px) {
    .credential-cards{
        /* border: 2px solid fuchsia; */
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: space-evenly;
        margin-top: -30px;
        padding: 0 80px;
        gap: 20px;
    }
}
