/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans';
}

/* header styles ----------------------------------------*/

header{
    background: rgba(255, 144, 14, 0.10);
}

/* header > nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 228px 102px 228px;
}

nav .nav-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

nav ul{
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 45px;
}

nav ul li a{
    text-decoration: none;
}

/* Header > Headline */

.headline-content{
    margin: 0 auto;
    max-width: 862px;
    text-align: center;
}

.head-title{
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.headline p{
    color: var(#727272);
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
    cursor:pointer;
}

.headline-image{
    text-align: center;
    /* margin:auto;
    width: 1440px;
    height: 700px; fixed props will
    not let you center the img when
    it comes to responsive media*/
}

.headline-image img{
    margin-bottom: 45px;
}

/* responsive media queries ---------------------------------*/

/* mobile */

@media screen and (max-width:576px){

    .headline{
        padding: 25px;
    }

    nav{
        flex-direction: column;
        padding: 50px 100px 50px 100px;
    }

    .headline-image img{
        width: 100%;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:992px){

    .headline{
        padding: 15px;
    }

    nav{
        flex-direction: column;
        padding: 50px 100px 40px 100px;
    }

    .headline-image img{
        width: 100%;
    }

    .headline-image{
        padding: 0 20px;
    }
}

/* other */

@media screen and (min-width:992px) and (max-width:1455px){

    .headline{
        padding: 20px;
    }

    nav{
        padding: 50px 100px 20px 100px;
    }

    .headline-image img{
        width: 100%;
    }

    .headline-image{
        padding: 0 50px;
    }
}
